<div style="width: 800px;">

<div align="center">
    <h1>Escanea tu QR</h1>
 </div>

 <div align="center">
    <img src="../../../assets/7518540.png" width="200px">
 </div>
</div>

<div style="margin-left: 5%; margin-top: 5%; align-items: center; align-content: center; display: flex;">
 
    <div><mat-label style="margin: auto;">No. QR:</mat-label></div>
    
    <div><mat-form-field class="example-form-field"  style="width: 540px; padding-left: 3%;" >
        
            <input matInput type="text" placeholder="Introduzca el Número de QR">
        
    </mat-form-field></div>
  
      <div style="padding-left: 4%; padding-right: 3%; margin: auto;"> <button   aria-label="submit"  class="botones">Agregar</button></div>
</div>